<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minesweeper</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script>
    function handleRightClick (ev, row, col) {
      ev.preventDefault();
      window.open(
        "{{ url_for('select', row=100, col=200) }}".replace("100", row).replace("200", col),
        "_self"
      );
    }
  </script>
</head>

<body>
  <div class="container">
    <h1>Minesweeper</h1>
    <p class="message">{{ message }}</p>
    <a href="{{ url_for('restart') }}" class="button">Restart Game</a>
    <table>
      {% for row_idx in range(board|length) %}
      <tr>
        {% for col_idx in range(board[row_idx]|length) %}
        <td class="{{ 'revealed' if board[row_idx][col_idx] != ' ' else 'hidden' }}{{ ' selected' if (row_idx, col_idx) in maybe else '' }}">
          {% if board[row_idx][col_idx] == ' ' %}
          <a oncontextmenu='handleRightClick(event, "{{ row_idx }}", "{{ col_idx }}")' href="{{ url_for('reveal', row=row_idx, col=col_idx) }}">?</a>
          {% else %}
          {{ board[row_idx][col_idx] }}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>
